<h2>User Register</h2>
<form method='POST' action="/user/register" enctype="application/x-www-form-urlencoded">
    <input name="username" placeholder="login">
    <input name="password" type="password" placeholder="password">
    <input name="email" type="email" placeholder="E-mail">
    <button type="submit">Register</button>
</form>
