<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Server</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
        </nav>
        <h1>Simple server</h1>
        <p>this is the simple server</p>
        {{{ body }}}
    </body>
    <!-- set an area of the age where the partial html content will be incerted -->
    <!-- {{{ body }}} -->
</html>
